/* use "*" to apply styling to all elements */
* {
    font-family: 'Courier New', Courier, monospace;
    font-style:oblique;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* element selectors */
h1 {
    color: #FF0000; 
}

h2 {
    color:rgba(4, 0, 255, 0.5);
}

p {

}

/* class selectors */
.main-header {}

/* ID selectors */
#id {}


img {
    height: 500px;
}